
<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width">
    <meta charset="utf-8">
    <meta name="keywords" content="We're Coming Soon">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>아람이 로그인</title>
    <link rel="stylesheet" href="stylesheets/login.css" media="screen">
    <script class="u-script" type="text/javascript" src="//static.nicepage.com/shared/assets/jquery-1.9.1.min.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="//capp.nicepage.com/65711fb9a7fcd1551e0947bf1d5a861061cebb39/nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 4.0.8, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style class="u-style"> .u-section-2 {
  background-image: url("//images01.nicepage.com/c461c07a441a5d220e8feb1a/a8df988ddbd151b7b87d4ad3/fgfg-min.jpg");
  background-position: 50% 50%;
}
.u-section-2 .u-sheet-1 {
  min-height: 100vh;
}
.u-section-2 .u-group-1 {
  width: 827px;
  min-height: 555px;
  background-image: none;
  height: auto;
  margin: 60px auto;
}
.u-section-2 .u-container-layout-1 {
  padding: 30px;
}
.u-section-2 .u-text-1 {
  text-align: center;
  font-weight: 700;
  font-size: 3.75rem;
  margin: 0 auto;
}
.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: none;
  width: 630px;
  line-height: 1.4;
  text-align: center;
  margin: 32px auto 0;
}
.u-section-2 .u-text-3 {
  letter-spacing: 2px;
  font-size: 0.875rem;
  width: 409px;
  text-transform: none;
  text-align: center;
  margin: 32px auto 0;
}
.u-section-2 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}
.u-section-2 .u-form-1 {
  height: 58px;
  text-align: center;
  width: 564px;
  margin: 89px auto 0;
}
.u-section-2 .u-label-1 {
  font-size: 1.25rem;
}
.u-section-2 .u-input-1 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 600;
}
.u-section-2 .u-btn-2 {
  background-image: none;
  border-style: solid;
  font-size: 1.25rem;
  width: 300%;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 10px 40px;
}
.u-section-2 .u-social-icons-1 {
  height: 34px;
  min-height: 16px;
  width: 250px;
  min-width: 160px;
  white-space: nowrap;
  text-align: left;
  margin: 88px auto 0;
}
.u-section-2 .u-icon-1 {
  height: 100%;
}
.u-section-2 .u-icon-2 {
  height: 100%;
}
.u-section-2 .u-icon-3 {
  height: 100%;
}
.u-section-2 .u-icon-4 {
  height: 100%;
}
.u-section-2 .u-icon-5 {
  height: 100%;
}
@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }
}
@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
  }
}
@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 800px;
  }
  .u-section-2 .u-group-1 {
    min-height: 620px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    font-size: 3rem;
  }
  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
  .u-section-2 .u-text-3 {
    width: auto;
    margin-left: 56px;
    margin-right: 56px;
  }
  .u-section-2 .u-form-1 {
    height: 138px;
    width: 450px;
    margin-top: 41px;
  }
}
@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 733px;
  }
  .u-section-2 .u-group-1 {
    min-height: 613px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 10px;
    margin-right: 10px;
  }
  .u-section-2 .u-text-3 {
    margin-left: 20px;
    margin-right: 20px;
  }
  .u-section-2 .u-form-1 {
    height: 154px;
    width: 275px;
  }
  .u-section-2 .u-social-icons-1 {
    margin-top: 43px;
  }
}</style>
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "",
		"url": "/",
		"logo": "//capp.nicepage.com/65711fb9a7fcd1551e0947bf1d5a861061cebb39/images/default-logo.png"
}</script>
    <meta name="theme-color" content="#3b8cdd">
    <meta property="og:title" content="Home">
    <meta property="og:type" content="website">
    <link rel="canonical" href="/">
  
</head>
  <body class="u-body">    
    <section class="u-align-center u-clearfix u-image u-section-2" id="carousel_1468" data-image-width="1620" data-image-height="1080">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-align-center u-container-style u-expanded-width-sm u-expanded-width-xs u-group u-opacity u-opacity-90 u-radius-50 u-shape-round u-white u-group-1">
          <div class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-xl u-container-layout-1">
            <h1 class="u-text u-text-default-lg u-text-default-md u-text-default-xl u-text-palette-2-base u-text-1">이미 로그인됨</h1>            
          </div>
        </div>
      </div>
    </section>
  </body>
</html>