<%- include("partials/header") %>
<%- include("partials/meta") %>
<link rel="stylesheet" href="/css/style.css">

<div class="container has-text-centered" style="padding-top: 80px; text-align: center;">
    <br>
      <figure class="image is-128x128 has-image-centered">
          <img class="is-rounded" src="images/아람.png" width="128" height="128">
      </figure>
      <br>
      <h1 class="text-middle" style="color: white; font-weight: bolder;">아람이 API</h1>
      <br>
      <p class="text-middle" style="color: white;">
          아래 메뉴로 아람이 API를 웹으로 만나보세요!
      </p>

      <hr style="background-color: dimgray">
      <a href="/shorten" class="button is-medium is-rounded text-middle" style="font-weight: bolder;"><i class="fas fa-link" style="padding-right: 5px;"></i> 단축URL</a>
      &nbsp;&nbsp;
      <a href="/lyrics" class="button is-medium is-rounded text-middle" style="font-weight: bolder;"><i class="" style="padding-right: 5px;"><i class="fas fa-music"></i></i> 가사찾기</a>
      <br><br>
</div>

<%- include("partials/footer") %>